<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  
<connectionStrings>
  <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;      
       initial catalog=SqLite.Model1;
       integrated security=True;
       MultipleActiveResultSets=True;
       App=EntityFramework" providerName="System.Data.SqlClient"/>
  <add name="entitySQLiteTests" connectionString="data source=\F:\DEV_Projects\Projects\EntityFramework_CodeFirst\Unittest\entitySQLiteTests.db; 
       initial catalog=SqLite.Model1;
       integrated security=True;
       MultipleActiveResultSets=True;
       App=EntityFramework" providerName="System.Data.SQLite.EF6"/>
  <add name="Repo.SqLite.Properties.Settings.TestCs" connectionString="Falsche.Settings.du.dully"/>

    <add name="MyDatabaseEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;
         provider=System.Data.SQLite.EF6;
         provider connection string='data source=:\Dropbox\AP Hogeschool\Semester 4\Programmeren\VoorbereidingExamen\SQLiteEntityFramework\MyDatabase.sqlite'" providerName="System.Data.EntityClient"/>
 
  
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
